* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: rgb(147, 243, 247);
}


.parent{
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: fit-content;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f77bf0;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 20px 0;
  font-size: 20px;
}
.card button{
  padding: 5px 10px;
  background-color: rgb(196, 241, 122);
  color: black;
  border: none;
  border-radius: 5ch;
  font-weight: bold;
  font-size: 20px;
}